body {
	
}


/*providing space around heading*/

.row {
	padding-top: 15px;
	padding-bottom: 15px;
}

/*optimising for mobile*/ 
/*screen goes black when it reaches specified width- even on desktop*/

@media only screen 
and (max-width : 600px) {
	body {
		background-color: black;
	}
}body {

}
